<section id="about">
    <div class="wrapper">
      <div class="col-a">
        <header>
          <h2>Sobre mim</h2>
        </header>
        <div class="content">
          <p>
            Olá 👋🏽 <br>
            Meu nome é Victor Soares sou formado e graduado no curso técnico de Análise e Desenvolvimento de Sistemas e cursando Analise e Desenvolvimento no Senac.
            <br>
            Tenho investido tempo e esforço em desenvolver projetos pessoais para enriquecer meu portfólio. Minhas habilidades incluem trabalhar com tecnologias essenciais, 
            como HTML, CSS e Node.js. Esses projetos não apenas me permitem aplicar meu conhecimento teórico, mas também me ajudam a manter uma prática constante e aprofundar 
            meu aprendizado.
            <br/>
            Me conheça mais com o meu curriculo e carta de apresentação abaixo 👇🏽
        </p>
        </div>
        <div class="buttonsDonw">
        <a class="download" href="assets/pdf/Victor Soares Pedroso.pdf" download=""> Curriculo </a>
        <a class="download" href="assets/pdf/Carta de apresentação.pdf" download=""> carta de apresentação </a>
      </div>
      </div>

      <div class="col-b">
        <img
          src="/assets/Images/Icons/cert.png"
          alt="Victor Soares Pedroso"
        />
      </div>
    </div>
  </section>