<section id="about">
    <div class="wrapper">
      <div class="col-a">
        <header>
          <h2>Sobre mim</h2>
        </header>
        <div class="content">
          <p>
            Olá, <br>
            Meu nome é Victor Soares Pedroso, e sou um entusiasta da tecnologia formado e graduado no curso técnico de Análise e Desenvolvimento de Sistemas.
            Atualmente, estou focado em me tornar um desenvolvedor Full Stack, com ênfase no desenvolvimento de back-end.Embora ainda não tenha experiência 
            profissional na área, estou determinado a iniciar minha carreira como desenvolvedor Júnior/trainee.
            <br>
            Tenho investido tempo e esforço em desenvolver projetos pessoais para enriquecer meu portfólio. Minhas habilidades incluem trabalhar com tecnologias essenciais, 
            como HTML, CSS e Node.js. Esses projetos não apenas me permitem aplicar meu conhecimento teórico, mas também me ajudam a manter uma prática constante e aprofundar 
            meu aprendizado.
        </p>
        </div>
        <div class="buttonsDonw">
        <a class="download" href="/pdf/Victor Soares Pedroso.pdf" download=""> Curriculo </a>
        <a class="download" href="/pdf/Carta de apresentação.pdf" download=""> carta de apresentação </a>
      </div>
      </div>

      <div class="col-b">
        <img
          src="/assets/Images/Icons/cert.png"
          alt="Victor Soares Pedroso"
        />
      </div>
    </div>
  </section>