<section id="knowledge">
    <div class="wrapper">
      <header>
        <h2>Conhecimentos</h2>
      </header>
      <div class="content">
        <div class="cards">
            <app-card-knowledge
            ImagemTEC = '/assets/Images/Tecs/html5.svg'
            TecName= "HTML5"
            TecDesc = "HTML5 é uma linguagem de marcação de hipertexto, que usamos para
            marcar os elementos da página e construí-la."
            >
            </app-card-knowledge>

            <app-card-knowledge
            ImagemTEC = '/assets/Images/Tecs/css.svg'
            TecName= "CSS3"
            TecDesc = "CSS3 é uma linguagem de estilo usada para descrever a apresentação dos elementos da página os estilizando."
            >
            </app-card-knowledge>

            <app-card-knowledge
            ImagemTEC = '/assets/Images/Tecs/js.svg'
            TecName= "JavaScript"
            TecDesc = "JavaScript é uma linguagem de programação interpretada usada no
            desenvolvimento web para descrever funcionalidades e
            comportamentos da página."
            >
            </app-card-knowledge>

            <app-card-knowledge
            ImagemTEC = '/assets/Images/Tecs/ts.svg'
            TecName= "TypeScript"
            TecDesc = "TypeScript é uma linguagem de programação de código aberto desenvolvida pela Microsoft. 
            É um superconjunto sintático estrito de JavaScript e adiciona tipagem estática opcional à linguagem."
            >
            </app-card-knowledge>

            <app-card-knowledge
            ImagemTEC = '/assets/Images/Tecs/react.svg'
            TecName= "React"
            TecDesc = "O React é uma biblioteca front-end JavaScript de código aberto com foco em criar interfaces de usuário em páginas web."
            >
            </app-card-knowledge>
            <app-card-knowledge
            ImagemTEC = '/assets/Images/Tecs/angular.svg'
            TecName= "Angular"
            TecDesc = "Angular é uma plataforma de aplicações web de código-fonte aberto e front-end baseado em TypeScript liderado pela
            Equipe Angular do Google e por uma comunidade de indivíduos e corporações."
            >
            </app-card-knowledge>

            <app-card-knowledge
            ImagemTEC = '/assets/Images/Tecs/nodejs.svg'
            TecName= "Node.js"
            TecDesc = "Node.js é um software de código aberto, multiplataforma, que permite a execução de 
            códigos JavaScript fora de um navegador web.  A principal característica do Node.js "
            >
            </app-card-knowledge>

            <app-card-knowledge
            ImagemTEC = '/assets/Images/Tecs/mysql.svg'
            TecName= "MySql"
            TecDesc = "O MySQL é um sistema de gerenciamento de banco de dados, que utiliza a linguagem SQL como interface."
            >
            </app-card-knowledge>

            <app-card-knowledge
            ImagemTEC = '/assets/Images/Tecs/java.svg'
            TecName= "Java"
            TecDesc = "Java é uma linguagem de programação orientada a objetos desenvolvida na década de 90 por uma equipe de 
            programadores chefiada por James Gosling e foi adquirido pela empresa Oracle Corporation em 2008."
            >
            </app-card-knowledge>

            <app-card-knowledge
            ImagemTEC = '/assets/Images/Tecs/csharp.svg'
            TecName= "C#"
            TecDesc = "C# é uma linguagem de programação, multiparadigma, de tipagem forte, desenvolvida pela Microsoft como parte 
            da plataforma .NET. A sua sintaxe orientada a objetos foi baseada no C++ mas inclui muitas influências de outras linguagens
             de programação, como Object Pascal e, principalmente, Java."
            >
            </app-card-knowledge>

            <div class="card">
              <h3>Em breve...</h3>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                width="24"
                height="24"
              >
                <path fill="none" d="M0 0h24v24H0z" />
                <path
                  d="M5 10c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm14 0c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm-7 0c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z"
                  fill="rgba(255,255,255,1)"
                />
              </svg>
              <p>
                Aprendizado constante! <br />
                Em breve muitos outros Conhecimentos.
              </p>        
            </div>
        </div>
      </div>
    </div>
  </section>