<section id="home" >
<div class="wrapper">
    <div class="col-a">
      <header>
        <h4>Bem Vindo ❤️</h4>
        <h1>Me chamo Victor</h1>
      </header>
      <div class="content">
        <p class="line typing">Sou Desenvolvedor back-end 💻.</p>
        <a class="button" href="#contact"> Fale comigo </a>
      </div>
    </div>

    <div class="col-b">
      <img
        src="/assets/Images/Icons/coding.svg"
        alt="coding"
        class="coding"
        />
      
    </div>
  </div>
</section>